﻿@{
    @inject IConfiguration configuration
}

@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @configuration["Title"]</h1> 
</div>

<p class="text-center">
    Version: @configuration["App:Version"]
    <br /> 
    Date: @configuration["App:Date"]
</p>