@using APP.Models
@model AuthorResponse

@{
    ViewBag.Title = "Author Details";
}

<h1>@ViewBag.Title</h1>

<p class="text-success">
    @ViewBag.Message
</p>
@if (Model is not null)
{

    <dl>
        <dt>@Html.DisplayNameFor(authorResponse => authorResponse.FirstName)</dt>
        <dd>@Html.DisplayFor(authorResponse => authorResponse.LastName)</dd>
    </dl>

}
<hr />
<a asp-action="Index" class="btn btn-outline-dark">Back to Author List</a>