@using APP.Models
@model GenreRequest

@{
    ViewBag.Title = "Edit Genre";
}

<h1>@ViewBag.Title</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="GenreName"></label>
        <input asp-for="GenreName" class="form-control" />
        <span asp-validation-for="GenreName" class="text-danger"></span>
    </div>
    <hr />
    <div class="row mb-3">
        <div class="col-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-outline-primary">Reset</button>
            <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
